/* h1 {
  background-color: aquamarine;
  color: black;
  padding: 10px;
}
p.first {
  font-weight: bold;
}
p.second {
  color: red;
}
p.third {
  text-decoration: underline;
}
p.fourth {
  font-style: italic;
} */
